    .enlace1{
        color: blue;
        font-weight: 800;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
    }

    .enlace2{
        color: purple;
        font-weight: 400;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 

    .enlace3{
        color: red;
        font-weight: 600;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .enlace4{
        color: black;
        font-weight: 100;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    a{
        color: pink;
    }

    li{
        list-style-type: none;
    }

    body{
        background-color: rgb(219, 192, 192);
        margin: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .caja{
        width: 200px;
        height: 100px;
        background-image: url('/Pinterest.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 0.5s ease;
        cursor: pointer;

        &:hover{
            transform: scale(1.2); rotate:(10);
            background-image: url('/snc.png');
        }
    }
    body{
    background-color:#b3a1a1;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.tarjeta{
    width:250px;
    background:white;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    text-align:center;
    padding:15px;
    transition:transform 0.3s;
}

.tarjeta:hover{
    transform:translateY(-10px);
}

.tarjeta img{
    width:100%;
    border-radius:8px;
}

h2{
    margin:10px 0 5px;
    color:#333;
}

p{
    color:#666;
    font-size:14px;
}